import os
import multiprocessing

CUR_DIR = os.path.dirname(os.path.dirname(__file__))

bind = "127.0.0.1:31082"
workers = multiprocessing.cpu_count() * 2 + 1
backlog = 1024
timeout = 30
max_requests = 3600 * 24
keepalive =  3
preload_app = True
chdir = CUR_DIR
daemon = True
user = 'niwhox'
group = 'webapps'
pidfile = os.path.join(CUR_DIR, 'var', 'gunicorn.pid')
accesslog = os.path.join(CUR_DIR, 'var', 'gunicorn.access.log')
errorlog = os.path.join(CUR_DIR, 'var', 'gunicorn.error.log')

